<!DOCTYPE html>
<html lang="en">
{% load humanize %}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Customer Relationship Management">
    <meta name="author" content="">
    <title>{% block title %}Expenses | Dashboard{% endblock title %}</title>
   

    {% include 'partials/__css.html' %}

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        {% include 'partials/__sidebar.html' %}

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                <!-- Topbar Navbar -->
                {% include 'partials/__topNavbar.html' %}
                <style>
                    .alert{
                        position: relative;
                        margin: 30px;
                        padding: 0.7rem 2rem;
                        border: 1px solid transparent;
                        border-radius: 31.35rem;
                    }
                </style>
                
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-info alert-dismissible fade show" role="alert">
                    <strong>{{ message|safe }}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    {% endfor %}
                {% endif %}

                <div class="container-fluid">
                    <!-- Expenses Table -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h5 class="m-0 font-weight-bold text-primary">Manage Expenses</h5>
                        </div>
                        <div class="d-sm-flex align-items-start justify-content-between mb-0">
                            <h1 class="h3 mb-0 text-gray-800"></h1>
                            <a  href="{% url 'expense-export' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                            <i class="fas fa-download fa-sm text-white-50"></i> 
                            <button>Download Report</button></a>
                            </a> 
                        </div>
                        <div class="card-body">
                            <button type="button" class="btn btn-primary">
                            <i class="fa fa-plus"></i><a class="text-white hover:no-underline" href="{% url 'add-expense'%}">Add Expenses</a></button>
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>SL.</th>
                                            <th>Why</th>
                                            <th>Description</th>
                                            <th>Balance</th>
                                            <th>Created at</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        
                                        {% for expenses in expenselist %}
                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td>{{expenses.why}}</td>
                                            <td>{{expenses.description}}</td>
                                            <td>${{expenses.amount}}</td>
                                            <td>{{expenses.date|naturaltime}}</td>
                                              <td><i class="material-icons">
                                            <a 
                                            href="{% url 'delete' expenses.id %}" class="text-decoration-none text-red-600 hover:text-red-600">Delete</a>
                                            

                                            <a href="{% url 'update' expenses.id %}" class="m-1 text-decoration-none text-green-600 hover:text-green-600">Edit</a>
                                            </i></td>
                                        </tr>
                                        {% endfor %}
                                            
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- Expenses Table -->
                     <!-- Pagination Start -->
                    {% if expenselist %}
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-end">
                            {% if page_obj.has_previous %}
                                <a class="page-link" href="?page=1">&laquo; First</a>
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                            {% endif %}


                            {% if page_obj.has_next %}
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
                            {% endif %}

                            <li class="page-item"><a class="page-link" href="#"> 
                            {{ page_obj.number }}</a></li>
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
                            {{ page_obj.paginator.num_pages }}</a></li>
                     
                        </ul>
                    </nav>
                    {% endif %}
                    <!-- Pagination End -->
                </div>
            </div>
            <!-- End of Main Content -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="{% url 'logout'%}">Logout</a>
                </div>
            </div>
        </div>
    </div>

    {% include 'partials/__js.html' %}

</body>

</html>