{% extends 'partials/__base.html' %}
{% load crispy_forms_tags %}
{% load static %}
<title>{% block title %}Change Password{% endblock title %}</title>
{% block body %}
    <!-- Page Wrapper -->
    <div id="wrapper">

           <!-- Sidebar -->
        <ul class="navbar-nav bg-indigo-900 sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'dashboard' %}">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-user"></i>
                </div>
                <div class="sidebar-brand-text mx-3">
                    IEM
                <sup></sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'dashboard' %}">
                    <i class="fas fa-home"></i>
                    <span>Dashboard</span></a>
            </li>
            <!-- Divider -->
               {% comment %} <li class="nav-item active">
                <a class="nav-link" href="{% url 'setting' %}">
                    <i class="fas fa-arrow-left"></i>
                    <span>Back settings</span></a>
                </li> {% endcomment %}
          
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-user-cog"></i>
                    <span>Settings</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Screens:</h6>
                        <a class="collapse-item" href="{% url 'profile' %}">Profile</a>
                        <a class="collapse-item" href="{% url 'password-change' %}">Change Password</a>
                        <a class="collapse-item" href="{% url 'password_reset' %}">Forgot Password</a>
                       
                    </div>
                </div>
            </li>
            
            <hr class="sidebar-divider d-none d-md-block"> 

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <style>
        
            /* setting start */
            @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

            * {
            margin: 0;
            padding: 0;
            box-sizing: border-box
            }

            body {
            font-family: 'Poppins', sans-serif;
            background-color: aliceblue
            }

            .wrapper {
            padding: 30px 50px;
            border: 1px solid #ddd;
            border-radius: 15px;
            margin: 10px auto;
            max-width: 600px;
            }

            h4 {
            letter-spacing: -1px;
            font-weight: 400
            }

            .img {
            width: 70px;
            height: 70px;
            border-radius: 41px;
            object-fit: cover;
            }

            #img-section p,
            #deactivate p {
            font-size: 12px;
            color: #777;
            margin-bottom: 10px;
            text-align: justify;
            }

            #img-section b,
            #img-section button,
            #deactivate b {
            font-size: 14px
            }

            label {
            margin-bottom: 0;
            font-size: 14px;
            font-weight: 500;
            color: #777;
            padding-left: 3px
            }

            .form-control {
            border-radius: 10px
            }

            input[placeholder] {
            font-weight: 500
            }

            .form-control:focus {
            box-shadow: none;
            border: 1.5px solid #0779e4
            }

            select {
            display: block;
            width: 100%;
            border: 1px solid #ddd;
            border-radius: 10px;
            height: 40px;
            padding: 5px 10px
            }

            select:focus {
            outline: none
            }

            .button {
            background-color: #fff;
            color: #0779e4
            }

            .button:hover {
            background-color: #0779e4;
            color: #fff
            }

            .btn-primary {
            background-color: #0779e4
            }

            .danger {
            background-color: #fff;
            color: #e20404;
            border: 1px solid #ddd
            }

            .danger:hover {
            background-color: #e20404;
            color: #fff
            }

            @media(max-width:576px) {
            .wrapper {
            padding: 25px 6.5rem!important;
         
            }

            #deactivate {
            line-height: 18px
            }
            }
            /* setting end */
        </style>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                <!-- Topbar Navbar -->     
                {% include 'partials/__topNavbar.html' %}
                <!-- End of Topbar -->
                <style>
                    .alert{
                        position: relative;
                        margin: 30px;
                        padding: 0.7rem 2rem;
                        border: 1px solid transparent;
                        border-radius: 31.35rem;
                    }
                </style>


                 {% for message in messages %}
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                <strong>{{ message }}</strong><a  href="{% url 'profile' %}">view your profile.</a>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                {% endfor %}

                <div class="wrapper bg-white">
                    <h4 class="title text-dark mt-3" style="font-weight: 800;">Change Password</h4>
                    <div class="d-flex align-items-start py-2 border-bottom"> 
                    {% if user.socialaccount_set.all.0.get_avatar_url %}
                    <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" class="img" alt="">
                    {% else %}
                    <img src="{{ request.user.profile.image.url }}" class="img" alt="">
                    {% endif %}

                    <div class="pl-sm-4 pl-2" id="img-section">
                    <b>{{request.user.get_full_name}}</b>
                        
                    </div>
                </div>
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="py-2">
                            {{form|crispy}}
                        <div class="py-3 pb-4 border-bottom"> 
                        <button type="submit" class="btn btn-primary mr-3">Change Password</button> 
                        
                        <a class="border-none text-blue-500 hover:no-underline" href="{% url 'password_reset' %}">Forgot Password?</a>
                        
                        </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
            <!-- End of Main Content -->
 {% endblock body %}