<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="viewport" content="width = 375, initial-scale = -1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        @media only (min-width:300px) and (max-width:600px) {
            .td {font-size:10px !important;}
        }
    </style>
  </head>

<body style="background-color: #ffffff; font-size: 16px;">
    <center>
      <table align="center" border="0" cellpadding="0" cellspacing="0" style="height:100%; width:600px;">
         
          <tr>
            <td align="center" style="padding:30px">
               <p style="text-align:left">Hi there,<br><br> 
               Thanks <strong>{{user.username}}</strong> for signing up to keep in touch with your finances partner, We're so glad you are here! 
              </p>
              <p>
                <a target="_blank" href="https://django-income-expense-manager.herokuapp.com/" style="text-decoration:none; background-color: green; border: black 1px solid; color: #fff; padding:10px 10px; display:block;">
                  <strong>GET STARTED</strong></a>
              </p>
              <p style="text-align:left"> We can control our finances, you will know how much you spend, you have more control over money and a smaller saving problem.<br></p>
              <p style="text-align:left">
               Cheers,
               <br>The Website Team
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </center>
  </body>
</html>